.form-control{
  display: inline-block;
  margin-bottom: 10px;
}

.btn-del{
    display: inline-block;
    min-height: 20px;
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
}
.btn-del:hover, .btn-del:focus, .btn-del.focus {
    color: #fff;
    background-color: #ff3333;
    border: 1px solid #ff3333;
}

.btn-edit{
  display: inline-block;
  min-height: 20px;
  background-color: #009999;
  border: 1px solid #009999;
  border-radius: 4px;
  font-weight: bold;
  color: #ffffff;
}
.btn-edit:hover, .btn-edit:focus, .btn-edit.focus {
    color: #fff;
    background-color: #008080;
    border: 1px solid #008080;
}
h3{
  margin: 0;
}
.comment-panel > a, .comment-panel > a:hover, .comment-panel > a:focus {
    color: #ffffff;
    text-decoration: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: progress;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-adm{
    background-color: #009999;
    border: 1px solid #009999;
    margin: 0;
    color: #ffffff;
}
.btn-adm:hover, .btn-adm:focus, .btn-adm.focus {
    color: #fff;
    background-color: #008080;
    border: 1px solid #008080;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}