.form-control{
  max-width: 500px;
}
.post-create{
  margin: auto;
  max-width: 540px;
  margin-bottom: 20px;
}
.btn-sign-up{
  margin: auto;
}
.post-body{
  min-height: 200px;
}
label{
  font-weight: normal;  
}
dt{
  text-align: left;
}