html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 70px; 
    margin-bottom: 30px;
}

.navbar-inverse {
	font-size: 14px;
  background-color: #009999;
  border-color: #009999;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;  
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #008080;
  cursor: pointer;
}

.question-btn {
	min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #009999;
  border: 1px solid #009999;
  border-radius: 4px;
  font-weight: bold;
  color: #ffffff;
  transition: font-size 2s;
}

aside > a, aside > a:hover, aside > a:focus {
  color: #ffffff;
  text-decoration: none;
}

.question-btn:hover, .question-btn:focus, .question-btn.focus {
    color: #fff;
    font-size: 18px;
}

.navbar-inverse .navbar-brand {
  font-weight: bold;
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover{
  background-color: #008080;
}

.navbar-inverse .navbar-toggle {
  border-color: #008080;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #008080;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #008080;
}

.col-sm-10{
	padding: 0;
}

.message{
	padding-bottom: 25px;
}

.message-text{
	padding: 0;
}

.like  p {
	display: inline-block;
	padding-left: 15px;
}

.comment-form{
	margin-top: 30px;
}

.media {
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-edit{
	margin-left: 5px;
}

.comment-panel{
	margin-top: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  padding-top: 5px;
  padding-left: 15px;
  margin-top: 10px;
  font-size: 12px;
}

.btn-del > a, .btn-del > a:hover, .btn-del > a:focus {
  color: #ffffff;
  text-decoration: none;
}

.btn-edit > a, .btn-edit > a:hover, .btn-edit > a:focus {
  color: #ffffff;
  text-decoration: none;
}

.form-error{
  text-align: center;
  margin-top: 90px;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #008080;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #009999;
  color: #ffffff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{
  background-color: #008080;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #009999;
}


